header{
    height: 100vh;
    padding-top: 8rem;
    overflow: hidden;
}
.header_container{
    text-align: center;
    height: 100%;
    position: relative;
}

/* =======CTA========== */

.cta{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* =====  HeaderSocial ======= */

.header_socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;

}
.header_socials::after{
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ===========Me ========== */

.me{
    /* background: linear-gradient(var(--color-primary-variant),transparent); */
    background: var(--color-bg);
    width: 22rem;
    /* height: 33rem; */
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 0rem 0rem 0rem;
    border: 1px solid var(--color-primary);
  
    
    
   
   
}
.me:hover{
    border: 1px solid var(--color-light);
    

  
}

/* =======scrollDown===== */

.scroll_down{
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}


/* =====Media query (medium device)======== */

@media screen and (max-width:1024px) {
    header{
        height: 74vh;
    }
    
}


/* =======Media query (small devices)========= */


@media screen and (max-width:600px) {
    header{
        height: 100vh;       
    }
    .header_socials,

    .scroll_down{
        display: none;
    }
    
}
 